@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Step 3 */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

/* Step 2 */
body {
    font-family: "Poppins", serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}
/* Step 1 */
@keyframes logoAnimation {
    from {
        width: 25px;
        opacity: 0;
    }
    to {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    width: 25px;
    opacity: 0;
    animation: logoAnimation 5s forwards;
}

/* Step 4 */
.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.nav_links a {
    color: #000fe1cc;
    text-decoration: underline;
}

/* Step 5 */
.nav_links a:visited {
    color: #000fe1cc;
}

/* Step 7 */
.card {
    width: 100%;
    max-width: 450px;
    border-radius: 50px 50px 0px 0px;
    overflow: hidden;
    background: white;
    text-align: left;
    margin: 0 auto;
    position: relative;
    font-weight: bold;
}

/* Step 6 */
.card > header {
    background-color: #288088;
    border-bottom: solid 2px #45ADAD;
    padding: 40px 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* Step 8 */
.pricing {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: stretch; 
    gap: 10px; 
    max-width: 900px;
    margin: 0 auto;
}

/* Step 10 */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Step 9 */
.gallery img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

@media (min-width: 900px) {
/* Step 11 */
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }

/* Step 12 */
    .pricing {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .card {
        display: flex;
        flex-basis: 270px;
        flex-direction: column;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

/* Step 13 */
    body > header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    main {
        padding-top: 120px;
    }
}

/* Step 14 */
@media (prefers-reduced-motion: reduce){
    #logo {
        animation: none;
        width: 475px;
        opacity: 1;
    }
}

@media print {
    body {
        /* Step 15 */
        font-family: "Arial", "Helvetica";
        /* Step 16 */
        background-image: None;
    }

/* Step 17 */
    nav {
        /* display: flex; */
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

/* Step 18 */
    .pricing {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-end;
        flex-direction: row;
    }

/* Step 19 */
    .card {
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }

/* Step 20 */
    .gallery, #gallery {
        display: none;
    }

/* Step 21 */
    .card ul li:nth-child(2)::after {
        content: "👍";
        font-size: 14px;
        margin-left: 5px;
    }
}